body,p,h1,h2,h3,h4{
	margin:0px;
}
ul{
	margin:0px;
	padding: 0px;
	list-style: none;
}
img{
	border: 0px;
	vertical-align: middle;
}
a{
    text-decoration:none;
    color:#ffffff;
}
i{
	font-style:normal;
}
input{
	margin:0px;
	padding: 0px;
}
button{
	outline:none;
}
body{
	font:12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
	color: #3c3c3c;
	background-color:#f4f4f4;
}
.clearfix::after{
	content:"";
	display:block;
	clear:both;
}
.clearfixb::before{
	content:"";
	display:block;
	clear:both;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.leayer{
	width: 1190px;
	margin:0 auto;
}
.c2{
	color: #F22E00;
}
.cb5{
	background-color: #f5f5f5;
}
.c4{
	color: #f40;
}
.c5{
	color: #f50;
}
.mr5{
	margin-right: 5px;
}
.mr7{
	margin-right: 7px;
}
.mr10{
	margin-right: 10px;
}
.ml10{
	margin-left: 10px;
}